<h1>Editing Inventory Adjustment</h1>

<%= render 'form', inventory_adjustment: @inventory_adjustment %>

<%= link_to 'Show', @inventory_adjustment %> |
<%= link_to 'Back', inventory_adjustments_path %>
