<nav class="app-nav">
  <a class="nav-icon home-nav-icon" href="/"><img src="https://voices-of-consent-static-images.s3.amazonaws.com/Logo.svg" alt="icon"></a>
  <a class="nav-icon" href="/"><img src="https://voices-of-consent-static-images.s3.amazonaws.com/Status.svg" alt="icon"></a>
  <a class="nav-icon" href="/"><img src="https://voices-of-consent-static-images.s3.amazonaws.com/Review+Stage.svg" alt="icon"></a>
  <a class="nav-icon" href="/"><img src="https://voices-of-consent-static-images.s3.amazonaws.com/Design+Stage.svg" alt="icon"></a>
  <a class="nav-icon" href="/"><img src="https://voices-of-consent-static-images.s3.amazonaws.com/Packing+Stage.svg" alt="icon"></a>
  <a class="nav-icon" href="/"><img src="https://voices-of-consent-static-images.s3.amazonaws.com/Shipping+boc+redux.svg" alt="icon"></a>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Account
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
      <%= link_to 'Admin', admin_path, class: 'dropdown-item' %>
      <a class="dropdown-item" href="#">Add a Team Member</a>
      <a class="dropdown-item" href="#">Account Settings</a>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: "dropdown-item") %>
      <% end %>
    </div>
  </div>
</nav>
