<% content_for :title do %>
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    VOICES OF CONSENT
    <small>admin</small>
  </h1>
<% end %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Admin</li>
  </ol>
<% end %>

<!-- Content Column -->
<div class="col-lg-9 mb-4">
  <h2>These are the secret places</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et
    temporibus, facere perferendis veniam beatae non debitis, numquam
    blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate
    dolores iure maxime ducimus fugit.
  </p>
</div>
