<% content_for :title do %>
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Welcome to Voices of Consent!
  </h1>
<% end %>

<!-- Image Header -->
<img class="img-fluid rounded mb-4" src="https://voices-of-consent-static-images.s3.amazonaws.com/voc_logo.jpg" alt="">

