<div class="box-info">If you are interested in receiving a survivor box, please fill out this quick form below.
  The more information you provide us with, the better we can help you.
  All information provided is 100% confidential and only seen by the leaders of our team.
  The return rate of our survivor boxes is 2-3 weeks due to high demand.
  You should receive the box at your front door within three weeks of submitting the application.</div>

<div id="react-root"></div>

<%= stylesheet_pack_tag 'box_request_form' %>
<%= javascript_pack_tag 'box_request_form',
  async: Rails.env.production?,
  'data-turbolinks-track': 'reload' %>
