$primary_dark: #c18189;
$primary_light: #fedddd;
$primary_highlight-dark: #b49194;

.message-log__header {
  text-align: center;
  margin: 25px auto;
}

button {
  height: 60px;
  border-radius: 15px;
  border: 5px solid $primary_dark;
  padding: 10px 15px;
  vertical-align: middle;
  line-height: 30px;
  position: relative;
}