<h1>Feedback #<%= @feedback.id %></h1>
<hr>
<div class="row">
  <div class="col">
    <p><strong>Type:</strong> <%= @feedback.type %></p>
    <p><strong>Category:</strong> <%= @feedback.category %></p>
    <p><strong>Description:</strong> </p>
    <p><%= @feedback.description %></p>
  </div>
</div>
