$primary_dark: #c18189;
$primary_light: #fedddd;
$primary_highlight-dark: #b49194;

.box-design {
    min-height: 100%;
    section {
        width: 50%;
        margin: 0 auto;
    }
}

.box-design__form {
    position: relative;
    height: 45px;
    margin: 50px 0 25px 0;

    #box-design-inventory-search {
        width: 100%;
        padding: 10px;

        &::placeholder {
            color: rgba(0,0,0,0.5);
        }
    }
}

.box-design__item-picker {
    margin: 25px auto;
    padding: 10px 5px;
    background: $primary_light;

    .item-picker {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 100%;

        input[type="number"] {
            flex: 0 1 34px;
            height: 34px;
            min-width: 0;
            border-radius: 5px;
            border: none;
            background: $primary_dark;
            color: $primary_light;
            text-align: center;
        }

        .item-picker__remove-button {
            flex: 0 1 34px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: $primary_dark;
            color: $primary_light;
            border-radius: 5px;

            &:hover, &:focus, &:active {
                background: #b49194;
            }
        }

        .item-picker__name {
            flex: 1;
            height: 34px;
            padding: 0 10px;
            margin: 0 5px;
            line-height: 34px;
            vertical-align: middle;
            border-radius: 5px;
            background: white;
        }


    }
}

.box-design__text-box {
    text-align: center;

    p {
        margin: 5px 0;
    }
}

.box-design__next-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary_light;
    height: 80px;

    button {
        height: 60px;
        border-radius: 15px;
        border: 5px solid $primary_dark;
        padding: 10px 15px;
        vertical-align: middle;
        line-height: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: inherit;
            background: linear-gradient(to right, $primary_dark, $primary_light);
        }

        &.active {
            &:hover, &:focus, &:active {
                background: #b49194;
            }

        }
    }
}