$nav-background: #eee;
$nav-color: #ddd;
$nav-text-color: #888;
$border-color: rgb(170, 150, 153);

.app-nav {
  background-color: $nav-background;
  color: $nav-color;

  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;

  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  z-index: 3;

  .nav-icon {
    border-right: solid 2px $border-color;
    flex: 1 0 auto;
    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      background: darken(#eee, 5%);
      text-decoration: none;

      span {
        color: darken($nav-text-color, 10%);
      }
    }

    span {
      color: $nav-text-color;
    }

    img {
      min-height: 40px;
      min-width: 40px;
    }

    &.home-nav-icon {
      flex-grow: 2.75;

      img {
        max-height: 80px;
      }
    }
  }

  .nav-item {
    height: 100%;

    a {
      color: $nav-text-color;

      &:hover {
        color: darken($nav-text-color, 10%);
      }
    }

    .avatar {
      border-radius: 20px;
      border: 2px solid $border-color;
      display: inline-block;
      height: 40px;
      margin-right: 7px;
      width: 40px;
    }

    .nav-link {
      line-height: 65px;
    }
  }
}

