@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'outreach_form_layout';
@import 'navigation';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/regular';

$body-bg: #ffc0cb;
$container-bg: rgba(255,255,255,0.8);
$footer-bg: #eee;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: url('https://ui.icontact.com/assets/themes/spring-flowers/spring_flowers_background.jpg') $body-bg;
  padding-top: 80px;
}

.container {
  background-color: $container-bg;
  flex: 1;
  margin-bottom: 5px;
  height: auto;
}

.flash-messages {
    margin-left: 10px;
}

.app-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  color: #ddd;
  background-color: #eee;
  z-index: 3;
}


footer {
  background-color: $footer-bg;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  bottom: 0;
}
