@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "box_request_layout";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: url(https://ui.icontact.com/assets/themes/spring-flowers/spring_flowers_background.jpg) pink;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.container {
    background-color: white;
    height: 100%;
}
.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    color: #ddd;
    background-color: #eee;
    z-index: 3;

    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

a.nav-icon {
    border-right: solid 2px rgb(170, 150, 153);
    padding: 0 1em;
    max-height: 80px;
    flex: 1 0 auto;

    &.home-nav-icon {
        flex-grow: 2.75;
    }

    img {
      max-height: 80px;
    }
}

footer {
    background-color: #eee;
}