@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "box_request_layout";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: url(https://ui.icontact.com/assets/themes/spring-flowers/spring_flowers_background.jpg) pink;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
}