<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <div class="img-header">
      <img src="https://voices-of-consent-static-images.s3.amazonaws.com/voc_logo.jpg">
    </div>
    <div class="outreach-form-layout-container">
      <%= yield %>
    </div>
  </body>
</html>
